.experience__container {
    max-width: 55%;
    display: grid;
    /* grid-template-columns: 1fr; */
    /* gap: 2rem; */
}

.experience__container > div {
    background: var(--color-bg-varient);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);

}

.experience__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-varient);
    cursor: default;
}

.experience__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience__content {
    display: grid;
    place-content: center;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;


}

.experience__details {
    display: flex;
    width: 130px;
    justify-self: center;
    gap: 1rem;

    margin-right: 2rem;
}

.experience__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}

 /* ======================Media Queries for tablets==================== */
 @media screen and (max-width: 1024px) {
    .experience__container {
        max-width: 80%;

    }

    .experience__container > div {
        padding: 2rem;
        /* margin: 0 auto; */
    }

    .experience__content {
        padding: 1rem;
    }
 }

  /* ======================Media Queries for Mobile==================== */
  @media screen and (max-width: 600px) {
    .experience__container {
        max-width: 100%;
        gap: 1rem;
    }

    .experience__container > div {
        padding: 2rem 1rem;
    }
  }